version: '3.8'

services:
  backend:
    build: .
    restart: always
    ports:
      - "8080:5000"
    environment:
      - GCP_PROJECT_ID=pmds-project
      - USE_SECRET_MANAGER=true
    volumes:
      - ~/.config/gcloud:/root/.config/gcloud:ro