version: '3.8'

# File di configurazione per l'ambiente di produzione
# Per buildare: docker compose -f docker-compose.prod.yml up -d

services:
  backend:
    build: .
    image: pmds-backend-prod:latest
    restart: always
    ports:
      - "8080:5000"
    environment:
      - GCP_PROJECT_ID=pmds-project
      - USE_SECRET_MANAGER=true
      - GOOGLE_APPLICATION_CREDENTIALS=/secrets/gcp_credentials.json
    volumes:
      # TODO: Cambiare con il path corretto del file delle credenziali di GCP in produzione
      - /etc/pmds/secrets/gcp_credentials.json:/secrets/gcp_credentials.json:ro